.random-quote {
  font-size: 36px;
  font-weight: 600;
}

.quote-author {
  font-size: 12px;
  font-weight: 600;
  padding-left: 1rem;
}

.playwrite-de-grund {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}