.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: center;
  margin-bottom: 5rem;
}

.header .page-link img {
  object-fit: contain;
  height: 60px;
}