.table {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 50vh;
  margin: 0 auto;
  overflow-y: scroll;
  padding: 0 1rem;
  gap: 5px;
}

.table .header {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid black; 
}

.table .header-row {
  display: grid;
  padding: 10px 10px;
  flex-wrap: nowrap;
  font-weight: 600;
  text-align: start;
  padding: 0 10px;
}

.row-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: grid;
  flex-wrap: nowrap;
  padding: 10px 10px;
  border: 1px solid gray;
  border-radius: 10px;
  column-gap: 10px;
  align-items: center;
}

.row-container .row:nth-child(2n){
  background-color: silver;
}

.row .btn-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: flex-end;
}

.row .btn-container button {
  padding: 5px 10px;
  height: min-content;
  align-items: center;
  border-style: none;
  border-radius: 7px;
  color: white;
}

.row .btn-container .del-btn {
  background-color: tomato;
}

.row .btn-container .edit-btn {
  background-color:sandybrown;
}