.table {
  height: auto;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
}

.table .header {
  position: sticky;
  top: 0;
  flex: 0;
  background-color: peachpuff;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}

.table .header h3 {
  padding: 10px;
  font-size: 24px;
}

.table .header-row {
  display: grid;
  padding: 10px 10px;
  flex-wrap: nowrap;
  font-size: 20px;
  font-weight: 600;
  text-align: start;
  padding: 0 10px;
}

.row-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.row {
  padding: 10px 10px;
  display: grid;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 18px;
}

.row-container .row:nth-child(2n){
  background-color: silver;
}

.row .btn-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: flex-end;
}

.row .btn-container button {
  padding: 5px 10px;
  height: min-content;
  align-items: center;
  border-style: none;
  border-radius: 7px;
  color: white;
}

.row .btn-container .del-btn {
  background-color: tomato;
}

.row .btn-container .edit-btn {
  background-color:sandybrown;
}